@page "/todolist/{id:int}"

@using TodoList.Blazor.UI.Pages.Dialogs;
@using TodoList.DataAccess.Data;
@using TodoList.DataAccess.Models;

@inject ITodoData _dbTodo;
@inject ITodoListData _dbTodoList;
@inject NavigationManager _navigationManager;
@inject IDialogService _dialogService

@*this is a new change only for testing the new dev branch*@

<style type="text/css">

    .editDeleteIcon:hover {
        cursor: pointer;
    }

</style>

<MudGrid Class="my-3">
    @*    <MudItem xs="12">
    <MudTextField @bind-Value="ListName"
    Placeholder="Name your list then press 'Enter'"
    @onclick="OnListNameClick"
    OnKeyUp="((args)=>UpdateListName(args))"
    Variant="Variant.Outlined"
    Margin="Margin.Dense"
    TextUpdateSuppression="false"
    ReadOnly="@IsListNameReadOnly">
    </MudTextField>
    </MudItem>*@
    @*<MudItem xs="2">
    <h2>@todoListName</h2>

    </MudItem>*@
    <MudItem xs="10">
        <table>
            <tr>
                <td><h2>@TodoList.Name</h2></td>
                <td>
                    <MudMenu Icon="@Icons.Material.Filled.MoreVert">                        
                        <MudMenuItem OnClick="EditList">Edit List</MudMenuItem>
                        <MudMenuItem OnClick="DeleteList">Delete List</MudMenuItem>
                    </MudMenu>
                </td>
            </tr>
        </table>
    </MudItem>
    <MudItem xs="12">
        <table>
            <tr>
                <td style="padding-right:20px;"><label><strong>Total Tasks:</strong> @TodoListCountTotal</label></td>
                <td style="padding-right:20px;"><label><strong>Incomplete Tasks:</strong> @TodoListCountActive</label></td>
                <td><label><strong>Completed Tasks:</strong> @TodoListCountComplete</label></td>
            </tr>
        </table>
    </MudItem>
    <MudItem xs="12">
        <MudTextField @bind-Value="QuickAdd"
                      Placeholder="Type your task then press 'Enter'"
                      OnKeyUp="((args)=>HandleQuickAddKeyPress(args))"
                      Variant="Variant.Outlined"
                      Margin="Margin.Dense"
                      TextUpdateSuppression="false">
        </MudTextField>
    </MudItem>
</MudGrid>


<MudTable Items="@TodosActive"
          MultiSelection="false"
          Hover="true"
          Dense="false"
          Bordered="false"
          Striped="true"
          Loading="@_loading"
          Filter="new Func<TodoModel,bool>(FilterFunc1)"
          LoadingProgressColor="Color.Info"           
          T="TodoModel"
          Elevation="0"
          hidden="@(TodosActive.ToList().Count == 0)">
    <ToolBarContent>
        <MudTextField @bind-Value="searchString1" Placeholder="Search" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium"></MudTextField>
    </ToolBarContent>
    <HeaderContent>
        <MudTh Style="width:50px;"></MudTh>
        <MudTh Style="width:50px;"></MudTh>
        <MudTh></MudTh>
        <MudTh></MudTh>
        <MudTh></MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd>
            <MudCheckBox T="bool" Checked="context.IsComplete" CheckedChanged="((e)=>MoveToCompleteDB(context))"></MudCheckBox>
        </MudTd>
        <MudTd Style="width:50px;">
            <MudCheckBox T="bool" Disabled="context.IsComplete" Checked="context.IsFavorite" Color="Color.Warning" CheckedChanged="((e)=>UpdateFavorite(context, e))" CheckedIcon="@Icons.Material.Filled.Star" UncheckedIcon="@Icons.Material.Filled.StarOutline"></MudCheckBox>
        </MudTd>
        <MudTd DataLabel="Name">@context.Name</MudTd>
        <MudTd Style="width:50px;">
            <MudIcon Icon="@Icons.Rounded.Edit" Size="Size.Small" @onclick="(() => EditTodo(context))" Class="editDeleteIcon" />
        </MudTd>
        <MudTd Style="width:50px;">
            <MudIcon Icon="@Icons.Rounded.Delete" Size="Size.Small" @onclick="(() => DeleteTodo(context))" Class="editDeleteIcon" />
        </MudTd>
    </RowTemplate>
</MudTable>


<MudExpansionPanel Text="@CompletedTasksPanelTitle" MaxHeight="150" hidden="@(TodosCompleted.ToList().Count == 0)" Style="margin-top:20px;">
    <MudTable Items="@TodosCompleted"
              MultiSelection="false"
              Hover="true"
              Dense="false"
              Bordered="false"
              Striped="true"
              Loading="@_loading"
              LoadingProgressColor="Color.Info"
              Elevation="0"
              hidden="@(TodosCompleted.ToList().Count == 0)">
        <HeaderContent>
            <MudTh Style="width:50px;"></MudTh>
            <MudTh Style="width:50px;"></MudTh>
            <MudTh></MudTh>
            <MudTh></MudTh>
        </HeaderContent>
        <RowTemplate>
            <MudTd>
                <MudCheckBox T="bool" Checked="context.IsComplete" CheckedChanged="((e)=>MoveToActiveDB(context))"></MudCheckBox>
            </MudTd>
            <MudTd Style="width:50px;">
                <MudCheckBox T="bool" Disabled="true" Checked="context.IsFavorite" Color="Color.Warning" CheckedIcon="@Icons.Material.Filled.Star" UncheckedIcon="@Icons.Material.Filled.StarOutline"></MudCheckBox>
            </MudTd>
            <MudTd DataLabel="Name" Style="@context.LineThroughCSS">@context.Name</MudTd>
            <MudTd Style="width:50px;">
                <MudIcon Icon="@Icons.Rounded.Delete" Size="Size.Small" @onclick="(() => DeleteTodo(context))" Class="lmsIcon" />
            </MudTd>
        </RowTemplate>
    </MudTable>
</MudExpansionPanel>



@code {

    #region Parameters

    //[Parameter] public TodoListModel TodoList { get; set; }
    [Parameter] public int Id { get; set; }

    #endregion

    #region Member Variables

    private bool _loading;
    private string searchString1 = "";
    //private string todoListName = "";

    #endregion Member Variables

    #region Properties

    private string ListName { get; set; } = string.Empty;
    private string QuickAdd { get; set; } = string.Empty;
    private string CompletedTasksPanelTitle { get; set; } = "Completed Tasks";
    private TodoListModel? TodoList = new TodoListModel();
    private IEnumerable<TodoModel> Todos = new List<TodoModel>();
    private List<TodoModel> TodosActive = new List<TodoModel>();
    private List<TodoModel> TodosCompleted = new List<TodoModel>();

    private int _todoListCountTotal;
    private int TodoListCountTotal
    {
        get
        {
            return TodosActive.Count() + TodosCompleted.Count();
        }
        set
        {
            _todoListCountTotal = value;
        }
    }

    private int _todoListCountActive;
    private int TodoListCountActive
    {
        get
        {
            return TodosActive.Count();
        }
        set
        {
            _todoListCountActive = value;
        }
    }


    private int _todoListCountComplete;
    private int TodoListCountComplete
    {
        get
        {
            return TodosCompleted.Count();
        }
        set
        {
            _todoListCountComplete = value;
        }
    }

    #endregion

    #region Lifecycle Methods

    protected override async Task OnInitializedAsync()
    {
        TodoList = await _dbTodoList.GetTodoList(Id);
        if (TodoList != null)
        {
            //todoListName = TodoList.Name;
            Todos = await _dbTodo.GetTodos(Id);
            TodosActive = Todos.Where(x => x.IsComplete == false).ToList();
            TodosCompleted = Todos.Where(x => x.IsComplete == true).ToList();

            TodosActive = TodosActive.OrderByDescending(x => x.IsFavorite).ToList();//.ThenByDescending(x => x.DateCreated).ToList();

            CompletedTasksPanelTitle = string.Format("Completed Tasks ({0})", TodosCompleted.Count);
        }
        //StateHasChanged();
    }

    protected override async Task OnParametersSetAsync()
    {
        await OnInitializedAsync();
    }

    #endregion

    #region Private Methods

    private bool FilterFunc1(TodoModel todo) => FilterFunc(todo, searchString1);

    private bool FilterFunc(TodoModel todo, string searchString)
    {
        if (string.IsNullOrWhiteSpace(searchString))
            return true;
        if (todo.Name.Contains(searchString, StringComparison.OrdinalIgnoreCase))
            return true;
        //if (element.Name.Contains(searchString, StringComparison.OrdinalIgnoreCase))
        //    return true;
        //if ($"{element.Number} {element.Position} {element.Molar}".Contains(searchString))
        //    return true;
        return false;
    }

    private async Task EditList()
    {
        try
        {
            var parameters = new DialogParameters();
            parameters.Add("TodoList", TodoList);
            parameters.Add("Action", "Update");

            var options = new DialogOptions { CloseOnEscapeKey = true, MaxWidth = MaxWidth.Small, FullWidth = true };
            var dialog = _dialogService.Show<DlgAddEditTodoList>("Edit List", parameters, options);
            var result = await dialog.Result;

            if (!result.Cancelled)
            {
                TodoList = (TodoListModel)result.Data;
            }
        }
        catch (Exception ex)
        {
            throw new Exception(ex.Message);
        }
    }

    private async Task DeleteList()
    {
        try
        {
            var parameters = new DialogParameters();
            parameters.Add("TodoList", TodoList);

            var options = new DialogOptions { CloseOnEscapeKey = true };
            var dialog = _dialogService.Show<DlgConfirmDeleteTaskList>("Confirm Task List Deletion", parameters, options);
            var result = await dialog.Result;

            if (!result.Cancelled)
            {
                TodoList.IsDeleted = true;
                _dbTodoList.Update(TodoList);
                _navigationManager.NavigateTo($"/", true);
            }            
        }
        catch (Exception ex)
        {
            throw new Exception(ex.Message);
        }
    }

    private void MoveToCompleteDB(TodoModel todo)
    {
        try
        {
            todo.IsComplete = true;

            _dbTodo.Update(todo);

            int index = TodosActive.IndexOf(todo);
            TodosActive[index] = todo;

            if (todo.IsComplete)
            {
                TodosActive.Remove(todo);
                TodosCompleted.Add(todo);
            }

            CompletedTasksPanelTitle = string.Format("Completed Tasks ({0})", TodosCompleted.Count);
        }
        catch (Exception ex)
        {
            throw new Exception(ex.Message);
        }
    }

    private void MoveToActiveDB(TodoModel todo)
    {
        try
        {
            todo.IsComplete = false;
            _dbTodo.Update(todo);

            int index = TodosCompleted.IndexOf(todo);
            TodosCompleted[index] = todo;

            TodosCompleted.Remove(todo);
            TodosActive.Add(todo);

            CompletedTasksPanelTitle = string.Format("Completed Tasks ({0})", TodosCompleted.Count);
        }
        catch (Exception ex)
        {
            throw new Exception(ex.Message);
        }
    }

    private void UpdateFavorite(TodoModel todo, bool isChecked)
    {
        try
        {
            todo.IsFavorite = isChecked;
            _dbTodo.Update(todo);

            if (isChecked) // move to top of list
            {
                TodosActive.Remove(todo);
                TodosActive.Insert(0, todo);
            }
            else
            {
                int index = TodosActive.IndexOf(todo);
                TodosActive[index] = todo;
            }
        }
        catch (Exception ex)
        {
            throw new Exception(ex.Message);
        }
    }

    private async Task EditTodo(TodoModel todo)
    {
        try
        {
            var parameters = new DialogParameters();
            parameters.Add("Todo", todo);
            parameters.Add("Action", "Update");

            var options = new DialogOptions { CloseOnEscapeKey = true, MaxWidth = MaxWidth.Small, FullWidth = true };
            var dialog = _dialogService.Show<DlgAddEditTodo>("Edit Todo", parameters, options);
            var result = await dialog.Result;

            if (!result.Cancelled)
            {
                //TodoList = (TodoListModel)result.Data;
            }
        }
        catch (Exception ex)
        {
            throw new Exception(ex.Message);
        }
    }

    private async Task DeleteTodo(TodoModel todo)
    {
        todo.IsDeleted = true;
        var parameters = new DialogParameters();
        parameters.Add("Todo", todo);

        var options = new DialogOptions { CloseOnEscapeKey = true };
        var dialog = _dialogService.Show<DlgConfirmDeleteTaskItem>("Confirm Task Deletion", parameters, options);
        var result = await dialog.Result;

        if (!result.Cancelled)
        {            
            todo.IsDeleted = true;
            if (!todo.IsComplete) TodosActive.Remove(todo);
            else TodosCompleted.Remove(todo);
        }        
    }

    private void DeleteAllTasks()
    {
        TodosActive.Clear();
    }

    private void HandleQuickAddKeyPress(KeyboardEventArgs args)
    {
        try
        {
            if (args.Key == "Enter" && !string.IsNullOrWhiteSpace(QuickAdd))
            {
                TodoModel todo = new();
                todo.TodoListId = Id;
                todo.Name = QuickAdd;
                //todo.IsComplete = false;
                //todo.IsFavorite = false;
                //todo.DateCreated = DateTime.Now;

                //await _data.Insert(t);
                //Tasks = await _data.GetByPersonId(1);
                //GenerateDueInChips();

                try
                {
                    _dbTodo.Insert(todo);
                    TodosActive.Add(todo);

                    //TodoListCountTotal = TodoListCountTotal + 1;
                    //TodosActive = TodosActive.OrderBy(t => t.DateCreated).ToList();
                    //TodosActive = TodosActive.Concat(new[] { todo });.OrderByDescending(t => t.DateCreated);
                    //TodosActive = TodosActive.OrderByDescending(t => t.DateCreated);
                }
                catch (Exception ex)
                {
                    throw;
                }

                QuickAdd = string.Empty;


            }
        }
        catch (Exception ex)
        {
            throw new Exception(ex.Message);
        }
    }

    #endregion Private Methods

}
